body,html{
	height: 100%;
	font-family: 'Poppins', sans-serif;
}

/*BODY*/
body{
	background-color:#F5F8F9;
}


/*ICON FONT SIZE*/

.icon-size{
	font-size:30px ;
}

/*Navbar*/

.navbar{
	margin-bottom: 10px;
	text-align:center;
}

.nav-title{
	display: inline-block;
	font-size: 1em;
}



/*Inside*/

.home-topics{
	color:#111111;
}

.border-img{
	border: 2px solid grey;
}

/*Heading Text*/

h3{
    font-size:1.40em;
}

/*Images Transition*/

.hover-effect{
	transition:all 1s;
}

.hover-effect:hover{
	transform: scale(1.1);
}

.home-topics:hover{
	text-decoration: none;
	color: #4AC5DB;

}

/*Footer*/

footer{
	text-align: center;
	background-color:#263238;
	padding-top: 2rem;
	margin-top:2rem;
}

.footer-copyright{
	color: #979B9E;
	padding: 1rem;
	margin-top: 2rem;
}

.footer-link{
	color: white;
}

.footer-link:hover{
	text-decoration: none;
	color: white;
}

.footer-icon{
	padding-right: 10px;
}

.footer-icon:hover{
	text-decoration: none;
}


/*Media Queries*/

@media (max-width: 812px){
    .hover-effect{
    transition:none;
    
}
.hover-effect:hover{
    transform:none;
}
.android-breakpoint{
    margin-bottom:50px;
}

h3{
    font-size:1.30em;
    font-weight:bold;
    margin-top:10px;
}
    
}

@media (max-width: 1200px){
	.media{
		width: 100%;
	}
	
}

@media (max-width: 375px){
    .footer-icon{
        padding-right:05px;
    }
}

@media (max-width: 300px){
    .small-devices-footer{
        width:40px;
        height:40px;
    }
}